list.txt
__pycache__/
algo_logs/
modules/graphing
modules/GraphingComponent
version.txt
manual/breakout.PNG
manual/OPENING.PNG
manual/VOL.PNG
*.PNG
manual/OPENING.PNG
manual/OPENING.PNG
data/
debug.log
list.txt

cores/commlink.json
