list.txt
__pycache__/
algo_logs/
modules/graphing
modules/GraphingComponent
version.txt
manual/breakout.PNG
manual/OPENING.PNG
manual/VOL.PNG
*.PNG
manual/OPENING.PNG
manual/OPENING.PNG
data/
debug.log
signals/
algo_orders/
custom_algos_config/
cores/commlink.json
*.csv
tools/Customized_Processor/input.csv
tools/IV/saves
algo_records/
*.dtmp
*.bkp
*.json
tnv_viewer/test.py
tools/Realtime_Stocks_Eval/logs_server/
cores/algo_manager v5/test.py
